.footer {
  box-sizing: border-box;
  background-color: #0a2850;
  color: #ffffff;
  padding: 60px 80px;
  position: relative;
  overflow: hidden;
}

.footer__circle {
  width: 340px;
  height: 340px;
  background-color: #2f80ed;
  border-radius: 50%;
  z-index: 0;
  position: absolute;
  left: -44px;
  top: -128px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
}

.footer__social {
  margin-left: 80px;
}

.footer__logo {
  z-index: 1;
  width: 105px;
  height: 39px;
}

.footer__column-heading {
  margin-top: 0;
  margin-bottom: 20px;
  align-items: center;
  font-family: "Inter";
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.footer__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer__list-item {
  margin-top: 16px;
  font-family: "Inter";
  font-size: 16px;
  line-height: 20px;
}

.footer__social-link {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer__social-link:hover {
  color: #c1c1c1;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
}

.footer__copyright {
  margin-top: 108px;
  font-family: "Inter";
  font-size: 16px;
  line-height: 20px;
}
