.form {
  max-width: 385px;
}

.reservation__form {
  margin: 0 auto;
}

.form__fieldset {
  box-sizing: border-box;
  padding: 0;
  border: 0;
  margin: 0;
}

.form__input {
  height: 60px;
  padding: 15px 20px;
  box-sizing: border-box;
  width: 100%;
  font-family: "Inter";
  font-size: 20px;
  line-height: 30px;
}

.form__input::placeholder {
  color: #838383;
}

.form__label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  margin-bottom: 32px;
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__button {
  border-radius: 4px;
  height: 60px;
  width: 100%;
  border: none;
  background-color: #2f80ed;
  color: #ffffff;
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 32px;
}

.form__button:hover {
  opacity: 70%;
}

.form__checkbox {
  width: 20px;
  height: 20px;
}

.form__label_checkbox {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
